# See https://atom.io/docs/latest/creating-a-package#menus for more details
'context-menu':
  'atom-text-editor': [
    {
      'label': 'Open webview-pane'
      'command': 'webview-pane:open'
    }
  ]
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'webview-pane'
      'submenu': [
        {
          'label': 'Open'
          'command': 'webview-pane:open'
        }
      ]
    ]
  }
]
